@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu',sans-serif;
}


.banner{
    position: relative;
   
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(bg.jpg);
    background-size: cover;
}

body{
    transition: 0.5s;
}
.banner .content{
    text-align: center;
}
.banner .content h3{
    font-size: 4rem;
    color: white;
    text-transform: capitalize;
}
.banner .content p{
    color: rgb(228, 123, 123);
}
.banner .content .btn{
    background: red;
    padding: 8px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
}
.banner .content .btn:hover{
    background: rgb(255, 0, 0,.3);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1; 
 transition: 0.5s;   
 padding: 10px 100px;
}
.header .logo{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.header .logo span{
    color: red;
}
.header ul{
    display: flex;
   position: relative;
}
.header ul li{
 
    list-style: none;
    margin-left: 30px;
}
.header ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
.header.scrolled{
    background-color: rgb(255, 0, 0,.3);
}
.header ul li a:hover{
    color: rgb(255, 0, 0,.6);
}
.about{
    margin: 20px;
    margin-bottom: 0;
    box-sizing: content-box;
  
    height: 600px;
}
.about .about-container{
    display: flex;
   gap: 1.2rem;
}
.about .about-container .para{
    flex: 1 1 50%;
    
}
.about  .about-container .image{
    width: 100%;
    flex: 1 1 50%;
   
}
.about .about-container .image img{
    width: 100%;
    border-radius: 5px;
}
.about .about-container  .para  h3{
    font-size:2rem;
    font-weight: 600;
}
.about .about-container  .para  h3  span{
text-transform: capitalize;
color: red;
font-size: 4rem;
margin-right: 5px;
font-family: 'lobster',sans-serif;
}
.about-container .para p{
    font-size: 17.5px;
    color: #666;
    margin-left: 10px;
}
.menu{
    margin: 20px;
    margin-bottom: 0;
    height: 1000px;
}
.menu .menu-container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.menu .menu-container .menu-image{
flex:1  1 25%;
width: 200px;
    height: 300px;
    margin-bottom: 30px;
    
}
.menu .menu-container .menu-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.menu h3{
    text-transform: capitalize;
font-size: 3rem;
margin-right: 5px;
text-align: center;


}
.menu h3 span{
    color: red;
    font-size: 4rem;
    font-family: 'lobster',sans-serif;
}
.menu p{
    text-align: center;

}
.menu .menu-container .menu-image .content h2{
    font-size:1rem ;
    text-align: center;    
    padding-top:5px ;
    padding-bottom: 3px;
    text-transform: capitalize;
    background-color: rgb(255, 0, 0,.3);
    color: #666;
    border-radius: 5px;
}
.expert{
    margin: 20px;
    height: 700px;
    border: 2px solid red;
}
.expert .expert-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 80px;
}
.expert .expert-container .expert-image{
    flex: 1 1 20%;
    width:150px;
    height: 300px;
}
.expert .expert-container .expert-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px ;
}
.expert h3{
    text-transform: capitalize;
font-size: 3rem;
margin-right: 5px;
text-align: center;


}
.expert h3 span{
    color: red;
    font-size: 4rem;
    font-family: 'lobster',sans-serif;
}
.expert p{
    text-align: center;
    color: #666;
}
.expert .expert-container .expert-image .content{
    text-align: center;
    margin-top: 10px;
}
.expert .expert-container .expert-image .content h4{
    text-transform: uppercase;
    font-family: 'lobster',sans-serif;
    color: rgb(255, 0, 0,.7);
}
.expert .expert-container .expert-image .content h5{
    text-transform: capitalize;

}
.test{
   height: 600px;
    background: url(bg2.jpg);
    background-size: cover;

}

.test .test-con{
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
   
}
.test .test-con .test-image{
    flex: 1 1 20%;
 background-color: white;
    width: 100px;
    /*height: 100px*/;
    padding: 10px;
    border-radius: 10px;
}
.test .test-con .test-image img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 110px;
}
.test .test-con .test-image .test-content {
    color: #666;
  
    text-align: center;
}
.test .test-con .test-image .test-content p {
    color: #666;
}
.test .head{
    margin:20px;
}

.test  .head h3{
    text-transform: capitalize;
font-size: 3rem;
margin-right: 5px;
text-align: center;
color: white;

}
.test .head h3 span{
    color: red;
    font-size: 4rem;
    font-family: 'lobster',sans-serif;
}
.test .head p{
 
    text-align: center;
    color: white;
}
.contact{
    margin: 20px 40px 20px 20px;
    margin-bottom: 0;
    
}
.contact .about-container{
    margin-top: 20px;
    display: flex;
   gap: 1.2rem;
}
.contact .about-container form{
    flex: 1 1 30%;
    
}
.contact  .about-container .image{
    width: 100%;
    flex: 1 1 50%;
   
}
form .input{
    margin-bottom: 10px;
    
}
form .input input{
    width: 100%;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}
form textarea{
    width: 100%;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    resize: none;
    height: 30%;
}
.contact .btn {
        color: white;
    background:red;
    padding:5px;
    margin:px;
    border-radius: 5px;
    border: 1px solid red;
}
.contact .btn:hover{
  background: rgb(255, 0, 0,.5);
  color:white
}
.contact form input:focus,textarea:focus{
    background:rgb(255, 0, 0,.5) ;
}
.contact .head {
    text-align: center;
    margin: 20px;
}
.contact  .head h3{
    text-transform: capitalize;
font-size: 3rem;
margin-right: 5px;
text-align: center;


}
.contact .head h3 span{
    color: red;
    font-size: 4rem;
    font-family: 'lobster',sans-serif;
}
.contact .head p{
 
    text-align: center;
} 
.footer{
    width: 100%;
    background: red;
    position: absolute;
    left: 0;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    flex: 1 1 20%;
    padding: 1rem 0;
}
.footer .box-container .box h3{
    font-size: 2rem;
    color: white;
    padding: .7rem 0;
    text-align: center;
    text-transform: capitalize;
}
.footer .box-container  .box p{
    font-size: 1rem;
    color: white;
    
    text-align: center;
}
.footer .box-container .box a{
    display: block;
    font-size:1rem;
    color: white;
    text-align: center;
    padding: .7rem 0;
    
}
.footer .box-container .box a i{
    font-size: 2rem;
    margin-right: 2rem;
}
.footer .box-container  .box a i:hover{
    color: white;
    text-decoration: none;
}
.footer .box-container .box a:hover{
    color:black;
    text-decoration: none;
}
.footer .credit{
    border-top: .1rem solid #666;
    margin-top: 2rem;
    font-size: 2rem;
    color:white;
    padding: 2rem 1rem;
    text-align: center;
}
.footer .credit span{
    color: black;
}
.footer .credit .j{
    color:white;
}
.footer .box-container .box h3 span{
    color: black;
    font-family: 'lobster',sans-serif;
}

/*meida query*/

/*@media(max-width:900px){
    .footer .box-container .box  h3{
        font-size: 1.5rem;
    }
    .test{
        height: 800px;
    }
    .test .test-con .test-image img{
        margin-left:50px;
    }
}
@media(max-width:700px){
    .about-container .para p{
        font-size: 12px;
    }
.about .about-container .image img{
    height: 300px;
}
.expert .expert-container .expert-image{
    flex: 1 1 10%;
    width: 100px;
}

.test{
    height: 800px;
}
.test .test-con .test-image img{
    margin-left:20px;
}
.test .test-con .test-image .test-content p {

    font-size: 15px;
}
.test .test-con .test-image .test-content h4{
    font-size: 15px;
    color: red;
}
.footer .box-container .box  h3{
    font-size: 1.2rem;
}
.footer .credit{
    font-size: 1rem;
}
}
@media(max-width:450px){
    .header{
        padding: 10px 20px;
        font-size: 10px;
    }
.header ul li{
    margin-left: 20px;
}
.banner .content h3{
    font-size: 2rem;
}
.banner .content p{
    font-size: 12px;
}
.menu{
    height: 700px;
}
.menu .menu-container .menu-image{
    flex: 1 1 25%;
    width: 300px;
    height: 200px;
}
.menu .menu-container .menu-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert{
    height: 1200px;
}
.expert  .expert-container .expert-image{
    flex:  1 1 40%;
    margin-top: 70px;
}
.expert h3{
    font-size: 2rem;
    
}
.expert p{
    font-size: 10px;
}
.test .head h3{
    font-size: 2rem;
}
.test .head p{
    font-size: 10px;
}
.test{
    height: 600px;
}
.test .test-con{
    margin: 10px;
}
.test .test-con .test-image img{
    margin-left:10px;
}
.test .test-con .test-image .test-content p {

    font-size: 12px;
}
.test .test-con .test-image .test-content h4{
    font-size: 15px;
    color: red;
}
.footer .box-container .box{
    flex: 1 1 40%;
}
.footer .box-container .box  h3{
    font-size: 1rem;
}
.footer .box-container .box  p{
    font-size: 13px;
}
.footer .box-container .box a{
    font-size: 13px;
}
}
@media(max-width:320px){
    .about .about-container .para h3{
        font-size: 1.5rem;
    }
    .menu{
        height: 1000px;
    }
    .menu  .menu-container{
        margin: 10px;
    }
    .menu .menu-container .menu-image{
        flex: 1 1 40%;
        
    }
    .expert h3{
        font-size: 1.5rem;
    }
    .expert{
        height: 1000px;
    }
    .expert .expert-container{
        margin: 10px;
    }
    .expert .expert-container .expert-image{
        flex: 1 1 40%;
    }
    .test .head h3{
        font-size: 1.2rem;
    }
    .test{
        height: 1050px;
    }
    .test .test-con .test-image{
        flex:  1 1 100%;
    }
    .test .test-con .test-image img{
        margin-left: 100px;
    }
    .contact .box-container form{
        flex: 1 1 100%;
    }
   
    
    .contact  .head h3{
        font-size: 1.5rem;
    }
    .contact .head p{
        font-size: 10px;
    }
    .footer .credit{
        font-size:.8rem;
    }
    .header{
        padding-left: 5px;
    }
    .header .logo{
        font-size: 15px;
        
    }
    .header ul li {
      margin-left: 10px;
    }
    .banner .content h3{
        font-size: 1.7rem;
    }
    .banner .content p{
        font-size: 10px;
    }
}